.firstpage1{
    background-color: rgb(206, 230, 236);
    margin-left: 400px;
    margin-bottom: 100px;
    
    
}
.first_main{
    background-color: rgb(206, 230, 236);

}


.b1{
    align-items: center;
    /* display: flex;
    justify-content: space-evenly; */

    
   
}
